<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :distance_travelled, id: :trip_distance_travelled %>
  </div>

  <div class="field">
    <%= form.label :start_address %>
    <%= form.text_field :start_address, id: :trip_start_address %>
  </div>

  <div class="field">
    <%= form.label :finish_address %>
    <%= form.text_field :finish_address, id: :trip_finish_address %>
  </div>

  <div class="field">
    <%= form.hidden_field :start_lat, id: :trip_start_lat %>
  </div>

  <div class="field">
    <%= form.hidden_field :start_long, id: :trip_start_long %>
  </div>

  <div class="field">
    <%= form.hidden_field :finish_lat, id: :trip_finish_lat %>
  </div>

  <div class="field">
    <%= form.hidden_field :finish_long, id: :trip_finish_long %>
  </div>

  <div class="field">
    <%= form.hidden_field :fare, id: :trip_fare %>
  </div>

  <div class="field">
    <%= form.label :avail_seats %>
    <%= form.text_field :avail_seats, id: :trip_avail_seats %>
  </div>

  <div class="field">
    <%= form.hidden_field :driver, id: :trip_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>