<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @profile.contact_no %>
</p>

<p>
  <strong>Image:</strong>
  <% unless @profile.image == nil %>
  <%= image_tag @profile.image_url(:original) %>
  <% end %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @profile.car_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
